.footer {
    background-color: transparent !important;
    margin: 0 128px 0 128px !important;
    
  }
  
  .footer-container {
    border-top: 1px solid #e2e8f0 !important;
    padding: 10px !important;
    padding-top: 12px !important;
  }
  
  .footer-text {
    font-size: 14px !important;
    color: #475569 !important;
    transform: translateX(-16px) !important;
  }
  
  .footer-link {
    text-decoration: none !important;
    font-size: 14px !important;
    color: #475569 !important;
  }

  .marginend{
    margin-right: 27.5px !important;
  }
  .transformlink{
    transform: translateY(-2px) !important;
  }