/* Base Styles */
* {
  margin: 0;
  padding: 0;
}

*, :after, :before {
  box-sizing: border-box;
}

body {
  background-color: #f1f5f9 !important;
  font-family: 'Inter', sans-serif !important;
  padding-right: 6px;
}

body::-webkit-scrollbar {
  display: none; 
}



/* Hero Section */
.hero-section {
  width: 100%; 
  background-color: #724ffe; 
  display: flex;
  letter-spacing: -.05rem;
  color: white;
}

.hero-title {
  font-size: 40px;
  line-height: 1.2;
  font-family: 'Inter', sans-serif;
}

.hero-description {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.03rem;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}

.hero-btn {
  font-weight: 600 !important;
  font-family: 'Inter', sans-serif !important;
  font-size: 14px !important;
  padding: 8px 16px !important;
  height: 40.39px;
  letter-spacing: 0rem;
}
.btn-dark{
  background-color: #0f172A !important;
}
.btn-white{ 
  font-weight: 700 !important;
}

/* Feature Section */

.ms-3{
  margin-top: -1px !important;
}

.feature-icon {
  border-radius: 50%;
  background-color: antiquewhite;
  height: 48px;
  width: 48px;
  font-size: 1rem !important;
  color: #d68f35;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconimg{
  height: 16px !important;
  width: 16px !important;
  transform: translateY(-0.75px);
}

.feature-title {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  color: #1e293b;
  line-height: 1.5;
  font-weight: 600 !important;
}

.feature-text {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  color: #64748b;
}

/* Card Styles */
.cardscont {
  padding-top: 88px;
  overflow: hidden;
}

.somemargin{
  margin-bottom: 119px !important;
}

.bookmark-icon{
  color: #724ffe !important;
  height: 14px !important;
  width: 14px !important;
}
.mt-n1{
  margin-top: -5px !important;
  margin-left: -4px !important;
}

.mt-n2{
  margin-top: -1px !important;
}
.cardstop {
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  margin: 0px 8px 22px 8px !important;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -.022rem;
  color: #1e293b;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 4px !important;
  margin-top: 0px !important;
}
.cardpadding{
 padding: 0 12px 0 12px !important;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
  border-radius: 7px 7px 0 0;
  object-fit: cover;
}

.card-body {
  padding: 24px !important;
  padding-bottom: 20px !important;
}

.card-title {
  font-size: 16px;
  font-weight: 600 !important;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  color: #1e293b;
  letter-spacing: -.022rem;
}

.course-meta {
  font-family: 'Inter', sans-serif;
  color: #64748b;
  font-size: 14px;
  margin-bottom: 0.8rem !important;
}

.text-warning{
  color: #f59e0b !important;
}

p {
  margin-bottom: 0 !important;
}

.course-meta i.fa-signal {
  margin-left: 8px;
}

.rating {
  color: #f59e0b;
  font-size: 17px;
}


.rating-number {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  transform: translate();
}

.rating-count {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  color: #64748b;
  margin-top: 1px;
}

.price-container {
  margin: 7px 0 0 0 !important;
}

.price {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #1e293b;
}

.original-price {
  text-decoration: line-through;
  color: #64748b;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  margin-left:-0.5px !important ;
}

.card-footer {
  padding: 16px 24px !important;
  border-top: 1px solid #e2e8f0 !important;
  background-color: white !important;
}

.instructor-img {
  width: 24px;
  height: 24px;
}

.instructor-name {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #64748b;
  margin-top: -1px !important;
}

.fa-bookmark {
  cursor: pointer;
  color: #64748b;
}

.fa-bookmark:hover {
  color: #f39c12;
}

.card-row {
  transition: transform 0.5s ease;
  margin-left: -12px;
  margin-right: -12px;
}
/* Carousel Controls */
.carousel-control {
  z-index: 1;
  margin-left: 20px;
  width: 38px;
  height: 38px;
}
.top-65 {
  top: 66% !important;  
}
.end-5{
  right: 5% !important;
}

.start-5{
  left: 4% !important;
}
.carousel-control-mobile {
  width: 50px;
  height: 50px;
}


/* Scroll to Top Button */
.btn-scroll-top {
  position: fixed;
  bottom: 20px !important;
  right: 20px !important;
  width: 48px !important;
  height: 48px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.btn-scroll-top.active {
  opacity: 1;
  visibility: visible;
}

/* Progress bar effect */
.progress-square path {
  fill: none;
  stroke: #754ffe;
  stroke-width: 2;
  transition: stroke-dashoffset 0.2s linear;
}

/* Icon inside button */
.btn-scroll-top:after {
  content: "\f102"; /* Bootstrap arrow up icon */
  font-family: "bootstrap-icons";
  font-size: 24px;
  position: absolute;
  color: #754ffe;
}

/* Responsive Utilities */
.ps-6 {
  padding-left: 2.5rem !important;
}

.fw-semi-bold {
  font-weight: 600 !important;
}

.lead {
  font-size: 1.25rem;
  font-weight: 500 !important;
  letter-spacing: -.03rem;
}